<!-- 
<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :username %><br />
    <%= text_field_tag :username, params[:username] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag "Log in" %></p>
<% end %> 
-->

<!--       
<% if session[:current_user_id]%>
<h1>Welcome Back</h1>
  <%= link_to "#{User.find(session[:current_user_id]).username}", user_path(session[:current_user_id])%>
  <%= link_to "Logout", sessions_path, method: :delete %>
  <% else %>
-->