<!-- main page splash page -->
<div class="black-bg">

  <div class="container hidden-xs no-gutter"> 
  <!--|____________| -->
    <div class="row no-gutter no-hugger">
      <div class="col-xs-12 text-center splash-bg no-gutter">
        <%= image_tag 'splash_img.png', alt: 'splash_img'%>
      </div>
    </div>

    <div class='ground-color'></div>
    <div class="river-color"></div>
  </div>
  
  <div class="container hidden-xs no-gutter"> 
    <div class="row login-banner no-gutter no-hugger">
      <!--|______||______| -->
      <div class="col-xs-6 text-center no-gutter banner-text">
        <%= image_tag 'login_banner.png', alt: 'login_img'%>
      </div>
      <!--|______||______| -->
      <div class="col-xs-6 text-center no-gutter banner-text">
         <%= image_tag 'register_banner.png', alt: 'login_img'%>
      </div>
    </div>
  </div>

  <div class="container hidden-xs no-gutter crack-bg"> 
    <div class="login-form">
    <!--|______||______| -->
      <div class="col-xs-6 text-center no-gutter banner-text">
        <%= image_tag 'username_text.png', alt: 'username_text'%> 
        <div class="form-space"></div>
        <%= form_tag(sessions_path) do%> 
        <%= text_field_tag :username%><br>
          <div class="login-form"></div>
          <%= image_tag 'password_text.png', alt: 'password_text'%> 
          <div class="form-space"></div>
          <%= password_field_tag :password%><br>
          <div class="login-form"></div>
          <%= submit_tag "", class: "go-button" %>
        <% end %>
      </div>
    </div>
    <div class="register-form">
      <!--|______||______| -->
      <div class="col-xs-6 text-center no-gutter banner-text">
        <%= form_for @user do |f|%>
          <%= image_tag 'newuser_name.png', alt: 'newuser_name_text'%> 
          <div class="form-space"></div>
          <%= f.text_field :username %><br>
          <div class="login-form"></div>
          <%= image_tag 'password_text.png', alt: 'password_text'%><br>
          <div class="form-space"></div>
          <%= f.password_field :password%><br>
          <div class="login-form"></div>
          <%= image_tag 'password_again_text.png', alt: 'password_again_text'%><br>
          <div class="form-space"></div>
          <%= f.password_field :password_confirmation%><br>
          <div class="form-space"></div>
        <br>
        <%= f.submit "", class: "getin-button" %>
        <% end %>
      </div>
    </div>

  </div>

</div>
