<script>
	function initialize() {
	    var latlng = new google.maps.LatLng(40.740112,-73.990060);
	        var myOptions ={
	            zoom: 12,
	            center: {lat: 40.740112, lng: -73.990060},
	           panControl: true,
	             zoomControl: true,
	             size: (860,490)
	           };        
	        var map = new google.maps.Map(document.getElementById('map'),myOptions);
	        var myLatLng = {lat: 40.740112, lng: -73.990060};

	        var infowindow = new google.maps.InfoWindow();
	            var latitude =  myLatLng.lat;
	            var longitude=  myLatLng.lng;
	        
	        var markersAryAry = [
	        	[40.718961, -73.987628],[40.708127, -74.004692],[40.749814,-73.983969],[40.709437,-74.009439],[40.716073,-74.005147],[40.726742,-73.985755],[40.730340, -74.000353],[40.729007, -73.993142],[40.737270, -73.991207],[40.737270, -73.996660],[40.745983, -73.990959],[40.750080, -73.992589],[40.750730, -73.986581],[40.750780, -73.986616],[40.754746, -73.988247]
	        ]
	        for (var e = 0; e < markersAryAry.length; e++) {
	        	var marker = new google.maps.Marker({
	            position: new google.maps.LatLng(markersAryAry[e][0], markersAryAry[e][1]),
	            map: map,
	            animation: google.maps.Animation.DROP
		        });
	        };
		};
	google.maps.event.addDomListener(window, "load", initialize);
</script>

<!-- weight page -->
<div class="black-bg">

  <div class="container hidden-xs no-gutter"> 
    <div class="row no-gutter no-hugger">
  	<!--|____________| -->
      <div class="col-xs-12 text-center splash-bg no-gutter">	
		<div class="weight-top-banner text-center">
			<%= image_tag 'please_enter.png', width: 490, height: 20, alt: 'enter_weight'%>
		</div>
		<div class="weight-scale-bg">
			<div class="scale">
				<form action="" id="weight-input">
					<input id="weight-box" size="8" type="password" name="weight">
				</form>
				<%= image_tag 'scale2.png', width: 280, height: 295, alt: 'scale_img'%>
			</div>
			<div id="check-box">
				<%= image_tag 'check.png', width: 158, height: 60, alt: 'scale_img'%>
			</div>
		</div>
	  </div>
	</div>

  <div class="container hidden-xs no-gutter"> 
	<div class="row no-gutter no-hugger chart-bg">
  	<!--|_||_____||_____||_| -->
  	  <div class="col-xs-1 weight-hide"></div>
  	  <div class="col-xs-5 text-center no-gutter parent-div weight-hide">
  	  	<div id="zilla-weight">
  	  		<%= image_tag 'zillaWeight.png', width: 250, height: 210, alt: 'zillaWeight_text'%>
  	  	</div>
  	  	<div id="everything-ok">
  	  		<%= image_tag 'everything_ok.png', width: 202, height: 115, alt: 'zillaWeight_text'%>
  	  	</div>
  	  	<div id="red-arrow-down">
  	  		<%= image_tag 'red_arrow_down.png', width: 108, height: 110, alt: 'red_arrow_down_img'%>
  	  	</div>
  	  </div>
  	  <div class="col-xs-5 text-center no-gutter weight-hide">	
		<div class="chart-canvas" >
			<canvas id="myChart" width="300" height="300"></canvas>
		</div>
		<div id="science-graph">
			<%= image_tag 'science_graph.png', width: 330, height: 20, alt: 'science_img'%>
		</div>
	  <div class="col-xs-1 weight-hide"></div>
  	  </div>
  	</div>

  <div class="container hidden-xs no-gutter"> 
	<div class="row no-gutter no-hugger chart-bg">
  	  <!--|____________| -->
  	  <div class="col-xs-12 text-center parent-div" id="zilla-eats-bg">
  	  	<div id="zilla-eat">
			<%= image_tag 'zilla_eats.png', width: 450, height: 320, alt: 'zilla_eats_img'%>
  	  	</div>
  	  	<div id="hungry">
			<%= image_tag 'hungry.png', width: 260, height: 50, alt: 'hurgry'%>
  	  	</div>
  	  	<div id="yellow-arrow-down">
  	  		<%= image_tag 'yellow_arrow_down.png', width: 108, height: 110, alt: 'yellow_arrow_down_img'%>
  	  	</div>
  	  </div>
  	</div>
  </div>

  <div class="container hidden-xs no-gutter map-bg">
  	<div class="row no-gutter no-hugger">
  		<div class="col-xs-2 no-gutter"></div>
  		<div class="col-xs-2 no-gutter">
	  	  	<div id="visit-mc">
	  	  		<%= image_tag 'visit.png', width: 185, height: 143, alt: 'visit_img'%>
	  	  	</div>
	  	</div>
	  	<div class="col-xs-2 no-gutter"></div>
	  	<div class="col-xs-2 no-gutter">
	  		<div id="visit-mc">
				<%= image_tag 'time_to_pay.png', width: 278, height: 143, alt: 'time_to_pay'%>
	  	  	</div>
	  	</div>
	</div>
	<div class="row no-gutter no-hugger">
  	  <!--|____________| -->
  	  <div class="col-xs-12 no-gutter parent-div">
  	  	<div id="white-arrow-down">
  	  		<%= image_tag 'white_arrow_down.png', width: 80, height: 80, alt: 'white_arrow_down_img'%>
  	  	</div>
	  	<div class="center-sides" id="map"></div>
  	  </div>
  	</div>
  </div>
	   
  <div class="container hidden-xs no-gutter restaurant-bg">
  	<div class="row no-gutter no-hugger">
  	  <!--|____________| -->
  	  <div class="col-xs-12 no-gutter parent-div text-center">
  	  	<div id="orange-arrow-down">
  	  		<%= image_tag 'orange_arrow_down.png', width: 80, height: 80, alt: 'orange-arrow-down_img'%>
  	  	</div>
  	  	<div id="remember">
  	  		<%= image_tag 'remember.png', width: 360, height: 60, alt: 'remember_text'%>
  	  	</div>
  	  </div>
  	</div>
  	<div class="row no-gutter no-hugger">
  		<!--|____||____||____| -->
  		<div class="col-xs-4 no-gutter text-center" id="fader1">
  			<%= image_tag 'chinese.png', width: 270, height: 270, alt: 'chinese_img'%>
  		</div>
  		<div class="col-xs-4 no-gutter text-center"  id="fader2">
  			<%= image_tag 'indian.png', width: 270, height: 270, alt: 'indian_img'%>
  		</div>
  		<div class="col-xs-4 no-gutter text-center"  id="fader3">
  			<%= image_tag 'pizza.png', width: 270, height: 270, alt: 'pizza_img'%>
  		</div>
	</div>
  	<div class="row no-gutter no-hugger">
  		<!--|____||____||____| -->
  		<div class="col-xs-4 no-gutter text-center"  id="fader4">
  			<div class="restaurant-text">
  				<%= image_tag 'general.png', width: 270, height: 130, alt: 'general_text'%>
  			</div>
  		</div>
  		<div class="col-xs-4 no-gutter text-center"  id="fader5">
  			<div class="restaurant-text">
  				<%= image_tag 'naan.png', width: 270, height: 130, alt: 'naan_text'%>
  			</div>
  		</div>
  		<div class="col-xs-4 no-gutter text-center"  id="fader6">
  			<div class="restaurant-text">
  				<%= image_tag 'weak.png', width: 270, height: 130, alt: 'weak_text'%>
  			</div>
  		</div>
	</div>
  </div>

  <div class="container hidden-xs no-gutter end-bg">
  	<div class="row no-gutter no-hugger">
  	<!--|____________| -->
  	  <div class="col-xs-12 no-gutter parent-div text-center">
  	  	<div id="dark-arrow-down">
  	  		<%= image_tag 'dark_arrow_down.png', width: 110, height: 110, alt: 'dark_arrow_img'%>
  	  	</div>
  	  	<div id="be-ok">
  	  		<%= image_tag 'be_ok.png', width: 590, height: 113, alt: 'be_ok_img'%>
  	  	</div>
  	  </div>
  	</div>
  </div>


</div>

